@import './reset';
@import './themes/normal';
@import './themes/dark';
@import './themes/orange';
@import './variables/global';

.app {
    min-height: 100vh;
    background: var(--bg-color);
    font: var(--font-m);
    color: var(--primary-color);
}

.app_redesigned {
    background: var(--bg-redesigned);
    min-height: 100vh;
    font: var(--font-m-redesigned);
    color: var(--text-redesigned);
}

.content-page {
    display: flex;
}

*::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

*::-webkit-scrollbar-track {
    background: var(--card-bg);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--inverted-primary-color);
    border-radius: 20px;
    border: 2px solids var(--primary-color);
}