.primary {
    color: var(--text-redesigned);

    &:hover {
        opacity: var(--accent-redesigned);
    }
}

.secondary {
    color: var(--cancel-redesinged);

    &:hover {
        opacity: 0.8;
    }
}