.app_red_theme {
    --bg-color: #fbf4f5;
    --inverted-bg-color: #ef6674;
    --primary-color: #eb4253;
    --secondary-color: #f1616f;
    --inverted-primary-color: #fbf4f5;
    --inverted-secondary-color: #f9dfe3;
}