.Overlay {
    background: var(--overlay-color);
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
    z-index: var(--overlay-z-index);
}